*{
    padding: 0;
    margin: 0;
}

.formdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    max-width: 960px;
}

input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
}