*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outerdiv{
    display: flex;
    justify-content: center;
        margin-top: 50px;
}

.formdiv{
    width: 960px;
}

input{
    width: 60%;
    height: 30px;
    border-radius: 8px;
    margin-top: 25px;
    padding: 8px;
    font-size: 1.5rem;
}

button{
    margin-top: 25px;
    width: 25%;
    height: 55px;
    background-color: forestgreen;
    color: #fff;
    font-size:18px;
}

.btnclear{
    margin-top: 25px;
    width: 25%;
    height: 55px;
    background-color: rebeccapurple;
    color: #fff;

    font-size:18px;
}

.success{
    border:4px solid lime;    
}

.error{
    border:4px solid red;
}